<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <main class= "container"><div class="jumbotron">

     
      <h6 class="display-4"> <Welocme to %= title %> </h6>

        <h2>Please make sure that you login to access the secure page</h2>

        <h3>Yamini kallam 301211106</h3>
      

    </div></main>
    
    
  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>
    
   


    
 